/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  --moz-appearance: textfield;
}
#eng-but {
    padding: 5px 18px;
    border: 1px solid #808080;
    margin-right: 0 auto;
}
#super-div {
    width: 100%;
    height: 50px;
    padding: 0px 60px 0px 40px;
}
.child-nav {
    font-weight: 500;
    
}
.text-grey-0 {
    color:  #666666;
    font-weight: 700;
    font-style: bold;
 }
.dnt-btn {
    border: 1px solid var(--blue);
    padding: 10px 25px;
    border-radius: 5px;
    margin-right: 10px;
   
} 
#dnt-btun:hover {
    animation: bounceIn;
    animation-duration: 2s;
}
#secondnav {
    padding: 10px 40px;
    border-bottom: 1px solid #808080c9;
}
.menu {
    display: none;

}
.img {
    width: 500px;
}
/* main started */
.main {
    padding: 25px 60px 0px 60px;
}
.General {
    padding: 0px 20px;
    background-color: #424242;
    border: 1px solid #424242;
    border-radius: 5px 5px 5px 5px;
    font-style: bold;
    text-align: center;
   
}
.Rs {
    padding: 0px 20px;
}
/* .Rs {

    padding: 15px 15px;
    background-color: #424242;
    border: 1px solid #424242;
    border-radius: 0px 5px 5px 0px;
    font-style: bold;
} */
.input {
    width: 155px;
    font-size: 1.6rem;
    height: 50px;
}

/* .chanda-div {
    margin-bottom: 10px;
} */
.chanda-child {
    background-color: #c2ec749d;
    border-radius: 10px;
}
#donate {
    background-color: #B6EF49;
}
#donate:hover {
    animation: bounceIn;
    animation-duration: 1s;
    cursor: pointer;
}
.btn {
    padding: 10px 25px;
    border-radius: 10px;
}

#four {
     background-color: white;
     font-weight: 700;             
    
}

#four:hover {
    animation: bounceIn;
    animation-duration: 2s;
    cursor: pointer;
    background-color: black;
    color: white;

}

/* what wala section */
.abbu {
    margin-bottom: 30px;
}
.donation-bar {
    background-color: RGBA(182, 239, 73, 0.3);    
    padding: 20px 50px;

}
.donation-bar:hover {
    animation: zoomIn;
    animation-duration: 0.5s;
}

/* food  */
.projects-image1 {
    background-color: 
    RGB(238, 238, 238);

}
.projects-image4 {
    padding: 20px 5px;
}
.Projects {
    padding: 15px 20px;
}
.projects-image3 {
    margin-left: 10px;
}
.other {
    margin-left: 30px;
}
.total {
    margin-bottom: 20px;
}
/* testimonial */
.testimonial {
    margin-top: 60px;
    margin-bottom: 30px;
}





@media(max-width:1250px){
    .main-food {
    width: 900px; 
    height: 600px;
    margin-bottom: 20px;
    }
    .sponsor-parent {
        flex-wrap: wrap;
         row-gap: 20px;
    }
    
}
@media(max-width:925px){
    .main-food {
    width: 600px; 
    height: 400px;
   
    }
   
}

@media(max-width:1246px) {
    .sponsor{
        width: 300px;
    }
}

@media(max-width:633px){
    .sponsor{
        width: 550px;
        height: 300px;
    }
    .main-food {
        width: 550px; 
        
}
}
@media(max-width:580px){
    .sponsor {
        width: 450px;
        height: 250px;
    }
    .main-food {
        width: 450px; 
        height: 250px;
        
}
}
@media(max-width:480px){
    .sponsor {
        width: 350px;
    }
    .main-food {
        width: 350px; 
       
        
}
}
@media(max-width:380px){
    .sponsor {
        width: 250px;
        height: 200px;
    }
    .main-food {
        width: 250px; 
        height: 200px;
        
}
}
@media (max-width:1024px){
    .education {
        padding: 20px 40px;
    }
}

@media(max-width:361px){
    .donation-bar{
        padding: 20px 110px;
    }
    .education {
        padding: 20px 100px; 
}
    
}



/* bakra */
/* .carousel-item {
    height: 100vh;
} */

/* media querries */
/* @media (min-width: 1024px )
{
    .carousel-item {
        height: 600px;
    }  
} */

 @media (max-width: 1316px) {
    .main {
        padding: 25px 40px;
    }
 }
 @media (max-width: 1280px) {
    .main {
        padding-left: 25px;
    }
 }
@media (max-width: 1200px) {
    .text-nav {
        display: none;
    }
    .menu {
        display: block;
        font-size: 3rem;
    }
}

@media (max-width: 910px) {
    #eng-but {
       display: none;

    }
   
}
@media (max-width: 638px) {
    .img {
        display: none;
    }
}
@media (max-width: 680px) {
    .child-nav {
        display: none;
    }
    .contry-div {
        display: none;
    }
    .height {
        height: 20px;
    }
}
@media (max-width: 816px) {
    #super-div {
        height: 60px;
    }
    .img {
        display: none;
    }
    #content-size {
        font-size: 2.7rem;
    }
    .para2 {
        font-size: 2rem;
    }
    #chota-para {
        font-size: 1.5rem;
    }
    
}
@media (max-width: 768px) {
#explore-btn {
    font-size: 1.3rem;
    padding: 50px;
    font-weight: 500;
}
#bar {
    align-items: center;
    justify-content: center;
}
.General {
    align-items: center;
    justify-content: center;
}
.input {
   width: 100%;
}
}
@media (max-width: 425px) {
#explore-btn {
        padding: 20px;
        font-size: 1.3rem;
        font-weight: 500;
    }
    /* .input {
        width: 100%;
        font-size: 1.5rem;
        height: 50px;
    } */
 }